# What Soccer Players Have The Highest Average Free Kick Accuracy?

This notebook and analysis is going to focus on answering the question "What Soccer players have the highest free kick accuracy?".

We will start the process by wrangling the data by reading the data from the provided source using pandas to run a SQL select statement, and the return of that select statement is then written to a pandas dataframe.

In [92]:
#import statements
import pandas as pd
import numpy as np
import sqlite3 as sq
import seaborn as sns

### Here we begin the data wrangling!
We start off with querying the SQLITE Db for all of the rows found in the player_api_id and player_name columns found in the Player table.

This query is then read by pandas, and then written as a dataframe under the variable name player_df.

Finally, we print off the first five results to verify it was successful using the head() method and then close the connection with the database.

In [94]:
# connect to the sqlite db, then perform a select staement and return the results of the statement into a Pandas Dataframe
connect = sq.connect("C:\Users\Marcus\Documents\GitHub\Investigating_Dataset_Soccer\database.sqlite")
player_df = pd.read_sql_query("SELECT player_api_id, player_name FROM Player", connect)

# Make sure the query properly made a dataframe
print(player_df.head())
connect.close()

   player_api_id         player_name
0         505942  Aaron Appindangoye
1         155782     Aaron Cresswell
2         162549         Aaron Doran
3          30572       Aaron Galindo
4          23780        Aaron Hughes

### Checking how many rows you have is very important!

This step is crucial, as it allows us to have a reference point when we modify the data in the future, that way we can see how the changes effected the quantity of results from the original query.

In [79]:
#check how many results
len(player_df)

11060

### Knowing when and how to pull data from what sources is often difficult

At first, I thought using SQL to join the Player_Attributes and Player tables together would be the best way to go. However, after some consideration, I realized that adding the player_name field to the player_api_id before wrangling wasn't nessecary. As well, I also considered that using the .merge() method would allow for similar results and less time for me. Therefore I decided to pull the queries in as seperate variables.

In [161]:
# connect to the sqlite db, then perform a select staement and return results of the statement into a Pandas Dataframe
connect = sq.connect("C:\Users\Marcus\Documents\GitHub\Investigating_Dataset_Soccer\database.sqlite")
player_att_df = pd.read_sql_query("SELECT player_api_id, free_kick_accuracy, date FROM Player_Attributes", connect)

# Make sure the query properly made a dataframe
print(player_att_df.head())

connect.close()

   player_api_id  free_kick_accuracy                 date
0         505942                39.0  2016-02-18 00:00:00
1         505942                39.0  2015-11-19 00:00:00
2         505942                39.0  2015-09-21 00:00:00
3         505942                38.0  2015-03-20 00:00:00
4         505942                38.0  2007-02-22 00:00:00

#### Once again, always len() your rows before modifying your data. It can be an invaluble resource in the future.

In [162]:
#check how many results
len(player_att_df)

183978

### Now we make a function to easily group up data

This allows us to run groupby methods on this data in the future.

In [163]:
def groupby_acc (player_att_df):
    
    return (player_att_df.groupby('player_api_id'))

#### Speaking of groupby methods...

Here we are essentially takings the len() of each group, and printing the results of that calculation in 
place of the original data. However, since we made a function, this doesn't actually change the underlying data. 
This is an extremely wonderful benefit of the function made earlier.

In [164]:
#We create a variable to run the .count method so we can easily refer to it in the future
groupby_count = groupby_acc(player_att_df).count()

#Here we print out the return of the varible
groupby_count

               free_kick_accuracy  date
player_api_id
2625                           14    14
2752                           21    21
2768                           21    21
2770                           15    15
2790                            5     5
2796                           15    15
2802                           22    22
2805                           28    28
2857                           16    16
2862                           34    34
2907                           10    11
2973                           18    18
2977                            8     8
2983                           20    20
2984                            8     8
3140                            7     7
3204                           29    29
3263                            3     3
3264                            5     5
3316                           13    13
3329                            5     5
3377                           33    33
3441                           14    14
3512                           13    13
3517                           21    22
3520                           25    25
4747                            5     5
4863                            4     4
4902                           22    22
4939                           22    22
...                           ...   ...
701154                          3     3
703659                          3     3
704523                          2     2
705484                          3     3
706985                          7     7
710807                          8     8
715642                          2     2
716998                          4     4
717248                          5     5
717270                          3     3
717557                          4     4
719413                          7     7
720738                          3     3
721133                         13    13
722766                         18    18
723037                          4     4
725718                          3     3
726956                          4     4
728125                          4     4
728414                          4     4
728478                          5     5
730065                          2     2
733787                          4     4
742405                          2     2
743720                          4     4
744907                         11    11
746419                          2     2
748432                          2     2
750435                          9     9
750584                          2     2

[11060 rows x 2 columns]

#### I wonder why we took the count of each group... hmm.. guess we'll wait and see. Until then..
I'll go ahead and take the sum of each group. Maybe you can already start figuring out the secret here..

In [165]:
#Once again we make a variable out of the method used on the previous function
groupby_sum = groupby_acc(player_att_df).sum()

#Print out the results
groupby_sum

               free_kick_accuracy
player_api_id
2625                        699.0
2752                        396.0
2768                        421.0
2770                       1030.0
2790                        277.0
2796                        281.0
2802                       1665.0
2805                       1600.0
2857                       1110.0
2862                       2340.0
2907                        684.0
2973                       1139.0
2977                        307.0
2983                       1162.0
2984                        252.0
3140                        361.0
3204                       1985.0
3263                        158.0
3264                        220.0
3316                        812.0
3329                        238.0
3377                       2234.0
3441                        754.0
3512                        804.0
3517                       1600.0
3520                       1857.0
4747                        110.0
4863                        104.0
4902                       1338.0
4939                        401.0
...                           ...
701154                      146.0
703659                       87.0
704523                      130.0
705484                       81.0
706985                      336.0
710807                      304.0
715642                       68.0
716998                      192.0
717248                      165.0
717270                      123.0
717557                      136.0
719413                      350.0
720738                      120.0
721133                      870.0
722766                      931.0
723037                      136.0
725718                       96.0
726956                      120.0
728125                      120.0
728414                      132.0
728478                      170.0
730065                       62.0
733787                      120.0
742405                       76.0
743720                      160.0
744907                      478.0
746419                       78.0
748432                       40.0
750435                      333.0
750584                       90.0

[11060 rows x 1 columns]

#### And now we're going to take the mean of each group,
to find the average free kick accuracy across all games of each players career in our dataset
on top of that, we're gonna take this and make it into a variable so we can use it as a base for methods in the future,

In [166]:
#Make the variable first
groupby_mean = groupby_acc(player_att_df).mean()

#And now lets see the results!
groupby_mean

               free_kick_accuracy
player_api_id
2625                    49.928571
2752                    18.857143
2768                    20.047619
2770                    68.666667
2790                    55.400000
2796                    18.733333
2802                    75.681818
2805                    57.142857
2857                    69.375000
2862                    68.823529
2907                    68.400000
2973                    63.277778
2977                    38.375000
2983                    58.100000
2984                    31.500000
3140                    51.571429
3204                    68.448276
3263                    52.666667
3264                    44.000000
3316                    62.461538
3329                    47.600000
3377                    67.696970
3441                    53.857143
3512                    61.846154
3517                    76.190476
3520                    74.280000
4747                    22.000000
4863                    26.000000
4902                    60.818182
4939                    18.227273
...                           ...
701154                  48.666667
703659                  29.000000
704523                  65.000000
705484                  27.000000
706985                  48.000000
710807                  38.000000
715642                  34.000000
716998                  48.000000
717248                  33.000000
717270                  41.000000
717557                  34.000000
719413                  50.000000
720738                  40.000000
721133                  66.923077
722766                  51.722222
723037                  34.000000
725718                  32.000000
726956                  30.000000
728125                  30.000000
728414                  33.000000
728478                  34.000000
730065                  31.000000
733787                  30.000000
742405                  38.000000
743720                  40.000000
744907                  43.454545
746419                  39.000000
748432                  20.000000
750435                  37.000000
750584                  45.000000

[11060 rows x 1 columns]

## Awesome!!

#### Now we have the data we need... hmm but something isn't right.. 

Oh Right! Lets order this data from highest percentage to lowest percentage, that way we can find the really high achievers.

In [167]:
groupby_mean.sort_values('free_kick_accuracy', ascending =False)

               free_kick_accuracy
player_api_id
30731                   90.488889
30612                   90.071429
30684                   89.315789
36011                   87.880000
30851                   87.800000
38398                   87.666667
30743                   87.280000
30878                   87.218750
39854                   86.681818
41694                   86.571429
304733                  86.393939
30696                   86.250000
34102                   85.500000
30663                   85.437500
30727                   85.375000
32766                   84.750000
31235                   84.727273
72656                   84.684211
37450                   84.678571
30250                   84.571429
30725                   84.500000
31921                   84.451613
30699                   84.400000
27734                   84.288889
72374                   84.166667
30981                   84.115385
32455                   83.818182
30840                   83.722222
35608                   83.714286
35443                   83.518519
...                           ...
37839                   10.428571
7334                    10.363636
37993                   10.333333
22418                   10.250000
69793                   10.000000
39354                   10.000000
185618                  10.000000
148297                  10.000000
655544                  10.000000
27342                   10.000000
68422                   10.000000
40610                   10.000000
42098                   10.000000
42259                    9.833333
40841                    9.666667
74843                    9.500000
31470                    9.400000
38962                    9.333333
166672                   9.125000
41601                    9.000000
607121                   9.000000
67402                    9.000000
32693                    8.666667
279874                   8.000000
47421                    7.666667
104388                   7.666667
45853                    7.000000
165528                   7.000000
37366                    7.000000
25993                    6.000000

[11060 rows x 1 columns]

### 90% seems really high... I wonder how many games they played...

In [180]:
player_att_df.loc[player_att_df['player_api_id'] == 30731]

       player_api_id  free_kick_accuracy                 date
11974          30731                93.0  2016-06-09 00:00:00
11975          30731                93.0  2016-01-28 00:00:00
11976          30731                93.0  2015-10-09 00:00:00
11977          30731                93.0  2015-10-02 00:00:00
11978          30731                93.0  2015-09-25 00:00:00
11979          30731                93.0  2015-09-21 00:00:00
11980          30731                93.0  2015-08-14 00:00:00
11981          30731                93.0  2015-07-31 00:00:00
11982          30731                93.0  2015-07-24 00:00:00
11983          30731                93.0  2015-07-16 00:00:00
11984          30731                93.0  2015-07-10 00:00:00
11985          30731                93.0  2015-04-17 00:00:00
11986          30731                93.0  2014-10-24 00:00:00
11987          30731                93.0  2014-10-17 00:00:00
11988          30731                93.0  2014-09-18 00:00:00
11989          30731                91.0  2014-05-02 00:00:00
11990          30731                91.0  2014-04-25 00:00:00
11991          30731                90.0  2014-04-11 00:00:00
11992          30731                90.0  2014-04-04 00:00:00
11993          30731                90.0  2014-03-28 00:00:00
11994          30731                90.0  2014-03-07 00:00:00
11995          30731                90.0  2014-02-28 00:00:00
11996          30731                90.0  2013-11-01 00:00:00
11997          30731                90.0  2013-10-11 00:00:00
11998          30731                90.0  2013-10-04 00:00:00
11999          30731                90.0  2013-09-27 00:00:00
12000          30731                90.0  2013-09-20 00:00:00
12001          30731                88.0  2013-05-17 00:00:00
12002          30731                88.0  2013-04-26 00:00:00
12003          30731                88.0  2013-04-19 00:00:00
12004          30731                88.0  2013-04-12 00:00:00
12005          30731                88.0  2013-03-22 00:00:00
12006          30731                88.0  2013-02-22 00:00:00
12007          30731                88.0  2013-02-15 00:00:00
12008          30731                86.0  2012-08-31 00:00:00
12009          30731                86.0  2012-02-22 00:00:00
12010          30731                86.0  2011-08-30 00:00:00
12011          30731                88.0  2011-02-22 00:00:00
12012          30731                88.0  2010-08-30 00:00:00
12013          30731                92.0  2010-02-22 00:00:00
12014          30731                92.0  2009-08-30 00:00:00
12015          30731                92.0  2009-02-22 00:00:00
12016          30731                92.0  2008-08-30 00:00:00
12017          30731                94.0  2007-08-30 00:00:00
12018          30731                83.0  2007-02-22 00:00:00
12019          30731                 NaN  2007-02-22 00:00:00

### Well this one looks good.. but lets go ahead and remove any player who was two standard deviations below the average
to remove players who only played a few games, so it doesn't skew the data too much

In [194]:
#We make a variable that is set to the standard deviation of the free_kick_accuracy column in the player_att_df dataframe
overall_std = player_att_df['free_kick_accuracy'].std(ddof=0)
#and we print out the results to see
overall_std

17.83169772363589